# Initially taken from Github's Python gitignore file

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
rdc_dataset/rdc-catalog-gold.tsv
rdc_output/checkpoint
rdc_output/eval.tf_record_.gstmp
rdc_output/eval/events.out.tfevents.1549749567.prep-vm
rdc_output/eval_results.tsv
rdc_output/eval_results.txt
rdc_output/events.out.tfevents.1549556877.prep-vm
rdc_output/events.out.tfevents.1549558204.prep-vm
rdc_output/events.out.tfevents.1549649680.prep-vm
rdc_output/events.out.tfevents.1549650028.prep-vm
rdc_output/events.out.tfevents.1549650775.prep-vm
rdc_output/events.out.tfevents.1549812980.prep-vm
rdc_output/events.out.tfevents.1549821456.prep-vm
rdc_output/events.out.tfevents.1549822754.prep-vm
rdc_output/events.out.tfevents.1549857790.prep-vm
rdc_output/events.out.tfevents.1550545756.prep-vm
rdc_output/events.out.tfevents.1550683129.prep-vm
rdc_output/events.out.tfevents.1550765217.prep-vm
rdc_output/events.out.tfevents.1550781468.prep-vm
rdc_output/events.out.tfevents.1550948271.prep-vm
rdc_output/events.out.tfevents.1550964687.prep-vm
rdc_output/graph.pbtxt
rdc_output/model.ckpt-371250.data-00000-of-00001_.gstmp
rdc_output/model.ckpt-371250.index
rdc_output/model.ckpt-371250.meta
rdc_output/model.ckpt-372250.data-00000-of-00001_.gstmp
rdc_output/model.ckpt-372250.index
rdc_output/model.ckpt-372250.meta
rdc_output/model.ckpt-373250.data-00000-of-00001_.gstmp
rdc_output/model.ckpt-373250.index
rdc_output/model.ckpt-373250.meta
rdc_output/model.ckpt-374250.data-00000-of-00001_.gstmp
rdc_output/model.ckpt-374250.index
rdc_output/model.ckpt-374250.meta
rdc_output/model.ckpt-375000.data-00000-of-00001_.gstmp
rdc_output/model.ckpt-375000.index
rdc_output/model.ckpt-375000.meta
rdc_output/predict.tf_record_.gstmp
rdc_output/test_results.tsv
rdc_output/train.tf_record_.gstmp
rdc_output2/checkpoint
rdc_output2/eval.tf_record
rdc_output2/eval_results.tsv
rdc_output2/events.out.tfevents.1550612847.prep-vm
rdc_output2/events.out.tfevents.1550631656.prep-vm
rdc_output2/events.out.tfevents.1550678302.prep-vm
rdc_output2/graph.pbtxt
rdc_output2/model.ckpt-56000.data-00000-of-00001_.gstmp
rdc_output2/model.ckpt-56000.index
rdc_output2/model.ckpt-56000.meta
rdc_output2/model.ckpt-57000.data-00000-of-00001_.gstmp
rdc_output2/model.ckpt-57000.index
rdc_output2/model.ckpt-57000.meta
rdc_output2/model.ckpt-58000.data-00000-of-00001_.gstmp
rdc_output2/model.ckpt-58000.index
rdc_output2/model.ckpt-58000.meta
rdc_output2/model.ckpt-59000.data-00000-of-00001_.gstmp
rdc_output2/model.ckpt-59000.index
rdc_output2/model.ckpt-59000.meta
rdc_output2/model.ckpt-60000.data-00000-of-00001_.gstmp
rdc_output2/model.ckpt-60000.index
rdc_output2/model.ckpt-60000.meta
rdc_output2/train.tf_record_.gstmp
rdc_output3/checkpoint
rdc_output3/events.out.tfevents.1550722352.prep-vm
rdc_output3/events.out.tfevents.1550723379.prep-vm
rdc_output3/graph.pbtxt
rdc_output3/model.ckpt-0.data-00000-of-00001_.gstmp
rdc_output3/model.ckpt-0.index
rdc_output3/model.ckpt-0.meta
rdc_output3/train.tf_record_.gstmp
rdc_output_zero_shot/eval.tf_record_.gstmp
rdc_output_zero_shot/train.tf_record_.gstmp
uncased_L-24_H-1024_A-16.zip
uncased_L-24_H-1024_A-16/bert_config.json
uncased_L-24_H-1024_A-16/bert_model.ckpt.data-00000-of-00001_.gstmp
uncased_L-24_H-1024_A-16/bert_model.ckpt.index
uncased_L-24_H-1024_A-16/bert_model.ckpt.meta
uncased_L-24_H-1024_A-16/vocab.txt
